src/pug/pages/index.pug
extends ../structure/_layout
block content
    main.app-content
        .app-content__info
            .cover
                img(src="images/avatar.png")
            h3.title Full Stack Development
            p.description @EstevanTn
            .social-icons
                a(href="#")
                    i.fa.fa-facebook.fa-2x
                a(href="#")
                    i.fa.fa-github.fa-2x
                a(href="#")
                    i.fa.fa-twitter.fa-2x
            a(href="//tunaqui.com" class="link-site" target="_blank")
                img(src="images/tunaqui-web.png")

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Template</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="images/tunaqui.png" type="image/x-icon"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a class="navbar-brand" href="index.html">MySite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="https://tunaqui.com">Home<span class="sr-only">(current)</span></a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdown" href="#" role="button" data-haspoup="true" aria-expanded="false">Options<span class="caret"></span></a>
            <div class="dropdown-menu" labelledby="navbarDropdown"><a class="dropdown-item" href="#">Action 1</a>
              <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Action 2</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <main class="app-content">
      <div class="app-content__info">
        <div class="cover"><img src="images/avatar.png"/></div>
        <h3 class="title">Full Stack Development</h3>
        <p class="description">@EstevanTn</p>
        <div class="social-icons"><a href="#"><i class="fa fa-facebook fa-2x"></i></a><a href="#"><i class="fa fa-github fa-2x"></i></a><a href="#"><i class="fa fa-twitter fa-2x"></i></a></div><a class="link-site" href="//tunaqui.com" target="_blank"><img src="images/tunaqui-web.png"/></a>
      </div>
    </main>
    <footer class="app-footer">
      <p>Todos los derechos reservados<a href="#"> MySite</a></p>
    </footer>
    <script src="js/bundle.js"></script>
  </body>
</html>
